:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', times;
    font-size: 40px;
}
header{
    max-width: 95%;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}


header nav a:hover{
    color: #fff;
}

.nav-mobile{
    width: 100%;
    position: absolute;
    top: 9.3%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 7px;
    text-align: center;
    display: none;
}

/*Relacionadas ao Filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/banner-big-bang.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    font-size: 40px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    color: white;
    border: none;
    padding: 15px;
    margin-right: 15px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}

.botoes{
    margin-left: 20px;
}


.container{
    width: 100%;
    margin-left: 20px;
}
 
.filme-principal .container{
    width: 80%;
}

.box-img{
    height: 200px;
    width: 100%; 
}

.toggle{
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

.toggle span{
    position: absolute;
    width: 20px;
    height: 3px;
    background: var(--vermelho);
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1){
    transform: translatey(-10px);
    width: 20px;
}
.toggle.active span:nth-child(1){
    transform: translateY(0px) rotate(-50deg);
}

.toggle span:nth-child(2){
    transform: translatey(10px);
    width: 20px;
}
.toggle.active span:nth-child(2){
    transform: translateY(0px) rotate(50deg);
}


.toggle.active span:nth-child(3){
    transform: translateX(60px);
}
